<strong>{{ empregado }}</strong>
<p>Hoje é um dia muito especial!</p>
<p>
  Por isso desejamos tudo de melhor para você!
  Aproveite cada minuto deste dia!
  Você é importante para todos nós!
  Feliz Aniversário!
</p>
